@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

/* ---------SECTION - HEADER--------- */

header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    font-family: raleway;
}

.logo img, .logoWhite img{
    height: 10vh;
    padding: 10px 50px;
}

.logoWhite, .menucross, .menubar{
    display: none !important;
}

nav{
    padding: 10px 50px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: bold;
    font-size: rem;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.button-ContactMe:hover::after{
    width: 0;
}

.button-ContactMe{
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid white;
    transition: 0.5s;
}
.button-ContactMe:hover{
    background-color: transparent;
    color: white;
}

/* ---------SECTION - HERO--------- */
.section-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #1D1D1D, #4c4b4b);
}

.section-reviews h2{
    align-self: start;
    font-family: Montserrat;
    color: white;
    margin: 30px 0 0 30px;
    letter-spacing: 4px;
}

.hero-socialMedia a i{
    color: black;
}

.section-hero{
    background: linear-gradient(-80deg, black 55%, #D7D7D7 45%);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: raleway;
}

.hero-p1{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: 2rem;
}

.hero-p2{
    width: 50%;
    align-content: end;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.hero-me{
    max-width: 100%;
    max-height: 80vh;
}

.hero-hi{
    margin-bottom: 40px;
}

.hero-profession{
    margin-top: 5px;
    font-size: 0.85rem;
    color: #909090;
    font-weight: 700;
}

.hero-socialMedia i{
    margin-top: 50px;
    margin-right: 15px;
    font-size: 2.5rem;
}

/* ---------SECTION - REVIEWS--------- */

.reviews-slider {
	width: 100%;
	overflow: hidden;
}

.reviews-slider ul {
	display: flex;
	padding: 0;
	width: 500%;
	animation: slide 20s infinite alternate ease-in-out;
}

.reviews-slider li {
	width: 100%;
	list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.review-element{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: Montserrat;
    position: relative;
    border-radius: 20px;
    margin: 80px 0 50px 0;
}

.review-element h4{
    font-size: 1.2rem;
    margin-top: 85px;
    background-color: #000000;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}

.review-element h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.review-element p{
    text-align: center;
    padding: 10px 20px;
}

.review-stars{
    font-size: 2rem;
}

.review-element img{
    width: 30px;
    position: absolute;
    top: -75px;
    width: 150px;
    border: 10px solid white;
    border-radius: 50%;
    background-color: white;
}

.review-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slide {
	0% {margin-left: 0;}
	15% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	35% {margin-left: -100%;}
	
	40% {margin-left: -200%;}
	55% {margin-left: -200%;}
	
	60% {margin-left: -300%;}
	75% {margin-left: -300%;}

    80% {margin-left: -400%;}
	100% {margin-left: -400%;}
}

/* ---------SECTION - ABOUT ME--------- */
.section-aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    background-color: #D7D7D7;
    padding-bottom: 30px;
    padding-top: 90px;
}

.title-section{
    border: 4px solid black;
    text-align: center;
    width: 220px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 20px;
    padding: 10px 0;
    font-size: 0.99rem;
    font-family: Montserrat;
}

.aboutme-element{
    position: relative;
    font-family: Open Sans;
    width: 30%;
    margin: 50px;
}

.aboutme-element h3{
    margin: 10px 0;
}

.aboutme-element p{
    font-size: 0.8rem;
    font-weight: 100;
    text-align: justify;
}

.aboutme-element i{
    position: absolute;
    font-size: 3rem;
    left: -30px;
    top: -15px;
    opacity: 0.07;
}

.aboutme-elements-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

/* ---------SECTION - SKILLS--------- */
.section-skills{
    background-color: #D7D7D7;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 30px;
}

.skill-element{
    width: 100px;
    height: 100px;
    margin: 40px;
}

.progress-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        #000000 0% 65%,   /* Color for the completed progress */
        #ecf0f1 65% 100%   /* Color for the remaining progress */
    );
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.progress-container.c{
    background: conic-gradient(
        #000000 0% 60%,   /* Color for the completed progress */
        #ecf0f1 60% 100%   /* Color for the remaining progress */
    );
}

.progress-container.html{
    background: conic-gradient(
        #000000 0% 100%,   /* Color for the completed progress */
        #000000 100% 101%   /* Color for the remaining progress */
    );
}

.progress-container.css{
    background: conic-gradient(
        #000000 0% 80%,   /* Color for the completed progress */
        #ecf0f1 80% 100%   /* Color for the remaining progress */
    );
}

.progress-container.js{
    background: conic-gradient(
        #000000 0% 70%,   /* Color for the completed progress */
        #ecf0f1 70% 100%   /* Color for the remaining progress */
    );
}

.progress-container.java{
    background: conic-gradient(
        #000000 0% 75%,   /* Color for the completed progress */
        #ecf0f1 75% 100%   /* Color for the remaining progress */
    );
}

.progress-container.wordpress{
    background: conic-gradient(
        #000000 0% 50%,   /* Color for the completed progress */
        #ecf0f1 50% 100%   /* Color for the remaining progress */
    );
}

.progress-container.sql{
    background: conic-gradient(
        #000000 0% 55%,   /* Color for the completed progress */
        #ecf0f1 55% 100%   /* Color for the remaining progress */
    );
}

.progress-container.php{
    background: conic-gradient(
        #000000 0% 65%,   /* Color for the completed progress */
        #ecf0f1 65% 100%   /* Color for the remaining progress */
    );
}

.progress-container span{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #D7D7D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.progress-container span i{
    font-size: 2.5rem;
    background: none;
}

.skill-element p{
    text-align: center;
    font-family: raleway;
    font-weight: 700;
    margin: 5px;
}

.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
}

/* ---------SECTION - FOOTER--------- */
footer{
    background-color: #1A1A1A;
    color: white;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 15px;
}

.footer-back{
    font-size: 0.7rem;
    text-align: center;
}

.footer-back-text{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.3s;
}

.footer-back-text:hover{
    letter-spacing: 5px;
}

.footer-socialMedia i{
    font-size: 2rem;
    margin: 0px 10px;
}

.footer-copyright{
    font-family: Open Sans;
}

.footer-back i{
    transition: 0.3s;
}

.footer-back i:hover{
    transform: scale(1.2);
}

.social-media-icon{
    transition: 0.3s;
}

.social-media-icon:hover{
    transform: scale(1.2);
}

/* ---------SECTION - PORTFOLIO--------- */
.section-portfolio{
    background-color: #D7D7D7;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.portfolio-articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio-articles article{
    width: 33.3333%;
    background-image: url('../assets/ejemplo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border: 1px solid white;
    border-collapse: collapse;
}

.portfolio-article-hover{
    font-family: Montserrat;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.4s;
    padding: 0 10px;
    
}
.portfolio-articles article:hover .portfolio-article-hover{
    opacity: 1;
}

.portfolio-article-hover p{
    font-weight: 100;
}

.portfolio-article-hover a{
    text-decoration: none;
    color: white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    padding: 5px 10px;
    letter-spacing: 3px;
    position: relative;
    background: linear-gradient(to right, rgb(255, 255, 255) 100%, transparent 100%) no-repeat;
    background-size: 0;
    background-position: center;
    padding: 5px;
    transition: 0.3s;
}

.portfolio-article-hover a:hover{
    color: #000000;
    background-size: 100%;
}

.portfolio-title{
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #1A1A1A;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

.portfolio-title .title-section{
    color:white;
    border: 4px solid white;
    margin: 50px;
}

.portfolio-articles .article1{
    background-image: url('../assets/a1.png');
}

.portfolio-articles .article2{
    background-image: url('../assets/a2.png');
}

.portfolio-articles .article3{
    background-image: url('../assets/a3.png');
}

.portfolio-articles .article4{
    background-image: url('../assets/a4.png');
}

.portfolio-articles .article5{
    background-image: url('../assets/a5.png');
}

.portfolio-articles .article6{
    background-image: url('../assets/a6.png');
}

/* ---------SECTION - CONTACT--------- */
.section-contact{
    background-color: #D7D7D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.contact-form{
    width: 40%;
}

.section-contact p{
    width: 60%;
    font-family: Open Sans;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 700;
    width: 100%;
    flex-direction: column;
    gap: 35px;
    background: #D7D7D7;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input, .inputBox textarea {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    transition: 0.1s;
}

.inputBox textarea{
    resize: none;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 5px;
    padding: 5px;
    pointer-events: none;
    font-size: 12px;
    color: #8B8B8B;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox textarea:valid~span,
.inputBox textarea:focus~span
 {
    transform: translateX(10px) translateY(-23px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
    border: 3px solid #000;
}

.enter {
    height: 45px;
    width: 100px;
    border: 3px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    font-family: Montserrat;
    font-weight: 700;
}

.enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


/* ---------MEDIA - QUERIES--------- */
@media only screen and (max-width: 1100px) {
    header{
        background-color: #000;
        height: 80px;
    }

    nav{
        position: absolute;
        top: 80px;
        padding: 0;
        background-color: rgba(26, 26, 26, 0.8);
        width: 0;
        opacity: 0;
        transition: 0.5s;
    }

    nav ul{
        border-top: 1px solid white;
    }

    nav ul li{
        display: block;
        text-align: center;
        padding: 20px;
        width: 100%;
        margin: 0;
    }

    .btnPad{
        padding: 0;
    }

    .button-ContactMe{
        width: 100%;
        display: block;
        border-radius: 0;
        margin: 0;
    }

    .logo{
        display: none;
    }

    .logoWhite, .menubar{
        display: inline-block !important; 
    }

    .logoWhite img{
        padding: 20px 30px;
    }

    .menubar, .menucross{
        color: white;
    }

    .menubar{
        font-size: 2.5rem;
        margin: 0 30px;
    }

    .section-hero{
        background-color: none;
        background-image: url(../assets/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        align-items: center;
        width: 100%;
    }

    .hero-socialMedia a i{
        color: white;
        margin: 20px 5px;
    }

    .hero-p2{
        display: none;
    }

    .hero-p1{
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .hero-hi{
        margin-bottom: 10px;
    }

    .menu-checkbox{
        display: none;
    }

    .menu-checkbox:checked + nav{
        opacity: 100;
        width: 100%;
    }

    .portfolio-articles article{
        width: 50%;
    }

    .skill-element{
        width: 70px;
        height: 70px;
        margin: 20px;
    }

    .progress-container span i{
        font-size: 2rem;
    }

    .portfolio-article-hover{
        opacity: 100;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .skills-container{
        width: 100%;
    }

    .review-element{
        margin: 95px 0 50px 0;
    }
}

@media only screen and (max-width: 750px) {
    .aboutme-element{
        width: 100%;
    }

    .contact-form{
        width: 60%;
    }

    .footer-copyright{
        font-size: 0.7rem;
    }

    .portfolio-articles article{
        width: 100%;
    }

    .skill-element{
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    .progress-container span i{
        font-size: 1.5rem;
    }


}

